* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.dark{
	background-color: black !important
}
.banner {
    height: auto;
    width: 100%;
    margin-top: 0.75px;
    
}
.brand{
	color:#FFD700 !important;
	font-weight: 800;
	font-size: 40px !important;
	font-family: 'Romance Fatal Goth' !important
}
.link{
	color:#FFD700 !important;
	font-size:24px !important;
}
.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    margin-top :2rem;
    margin-right: 4rem;
    margin-left: 4rem;
    margin-bottom: 1rem;
}
@media (min-width: 768px)
.container {
    max-width: 720px;
}

@media (min-width: 576px)
.container {
    max-width: 540px;
} 
.intro{
    margin-bottom: 3rem;
}
.container {
    width: 100%;
    margin-top:0;
    margin-right: auto;
    margin-left: auto;
}
.footer{
 background-color:#212529;
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: 0;
  box-sizing: border-box;

}

.disclaimer{
    color:#FFD700 !important;
    margin-left: 3rem;
}
.p{
    color:#FFD700!important;
    margin-left: 3rem;
    margin-bottom: 2rem;
}

.slide-container{
    margin-top:0;
    padding-top: 1px;
    height:500px;
    width:500px;
    overflow: hidden;
    padding-bottom: 3rem;
    margin-bottom: 5rem;
 }
 .images{
    width:26rem;
    height:18rem;
 }